html, body{
  height: 100%;
  color: white;
}

.aboutScreen{
  padding: 20px;
}

.title{
  font-weight: 400;
  font-size: 48px;
  margin-bottom: 20px;
}

#aboutScreen{
  position: absolute;
  text-align: center;
  height: 100%;
  top: 0;
  left: 150px;
  right: 150px;
  background-color: rgba(0, 0, 0,0.7);

  transition: left .3s ease-in-out, right .3s ease-in-out;
  -webkit-transition: left .3s ease-in-out, right .3s ease-in-out;
}

.aboutText{
  margin:auto;
  padding: 10px 40px;
  text-align: justify;
  display: block;
  color: rgba(255,255,255,0.8);
}

.upper{
  margin-top: 25px;
  padding: 10px 40px;
  font-size: 19px;
}

#gradPic{
  border-radius: 100px;
  opacity: 1;
  height: 200px;
  width: 200px;
  align-self: center;
}
