@font-face { font-family: LoveStory; src: url('../fonts/loveStory.ttf'); }


html, body{
  height: 100%;
  font-family: Roboto;
  overflow-x: hidden;
}

body{
  /*MOUNTAIN: https://wallpaperscraft.com/image/new_zealand_sea_mountains_sky_clouds_109040_1920x1080.jpg*/
  background-image: url("../images/city.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 100%;
}

.welcome{
  color: black;
  opacity: 0.85;
  font-size: 70px;
  font-weight: 200;
  margin: 0;
  display: block;
}
/*HANDLING FADE ANIMATION*/

.sub{
  font-size: 25px;
  margin-top: 0;
}



@media only screen and (max-width: 768px) {
  body{
    background-image: url("https://i.pinimg.com/originals/49/7d/f7/497df7ee7b493843827472420008449e.jpg");
  }
}
