.portfolioScreen{
  padding: 20px;
  color: white;
  flex-direction: column;
  display: flex;
}

.title{
  font-weight: 400;
  font-size: 48px;
  margin-bottom: 20px;
}

#portfolioScreen{
  position: absolute;
  text-align: center;
  min-height:100%;
  top: 0;
  left: 10%;
  right: 10%;
  background-color: rgba(0, 0, 0,0.7);

  transition: left .3s ease-in-out, right .3s ease-in-out;
  -webkit-transition: left .3s ease-in-out, right .3s ease-in-out;
}

.portfolio{
  width: 350px;
  padding: 10px;
}

.portfolioContainer{
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.portfolio img:hover{
  -webkit-filter: grayscale(50%); /* Safari */
  filter: grayscale(50%);
  border-color: #15bdde;
}

.portfolioPic{
  height: 200px;
  width: 350px;
  min-width: 150px;
  border-radius: 40px;
  padding: 10px;
  border: solid 5px transparent;
}

@media only screen and (max-width: 768px) {
  .portfolioPic{
    height: 40%;
    width: 60%
  }

  .portfolio{
    padding: 0px;
  }

  .portTitle{
    margin: 0px;
  }

  .portfolioContainer{
    margin-top: 0px;
  }
}

.portTitle{
  font-size: 24px;
  margin-bottom: 0px;
}

.portDescription{
  font-size: 14px;
}
