.skillScreen{
  padding: 20px;
  margin: 0px;
  flex-direction: column;
  display: flex;
  flex: 1;
  color: white;
}

#skillScreen{
  position: absolute;
  text-align: center;
  top: 0;
  left: 10%;
  right: 10%;
  background-color: rgba(0, 0, 0,0.7);

  transition: left .3s ease-in-out, right .3s ease-in-out;
  -webkit-transition: left .3s ease-in-out, right .3s ease-in-out;
}

.skillPicture{
  height: 100px;
  width: 100px;
}

.skillContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.skill{
  display:inline;
  padding: 20px;
}

.skillDescription{
  width: 175px;
  font-size: 14px;
}
